<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Edit Trip</title>
</head>
<body>
    <div class="alert alert-dark" role="alert">
        <button><a href="/dashboard" class="alert-link">Go Back</a></button>
    </div>

    <h1>Hello {{user.first_name}}! Let's edit your trip!</h1>
    </br>

    <form action='/trips/{{trip.id}}/update' method='post'>
        {% csrf_token %}
        <div class='newdata'>
            <label for='destination'>Destination</label>
            <input type='text' name='destination' id='destination' class='newdata' value='{{trip.destination}}'>
        
        <div class='newdata'>
            <label for='start_date'>Start Date</label>
            <input type='date' name='start_date' id='start_date' class='newdata' value='{{trip.start_date|date:'Y-m-d'}}'>
        </div>

        <div class='newdata'>
            <label for='end_date'>End Date</label>
            <input type='date' name='end_date' id='end_date' class='newdata' value='{{trip.end_date|date:'Y-m-d'}}'>
        </div>

        <div class='newdata'>
            <label for='plan'>Plan</label>
            <textarea name='plan' id='plan' cols='60' rows='5' class='newdata' value='{{trip.plan}}'>{{trip.plan}}</textarea>
        </div>
        
    </form>
    <div class="alert alert-dark" role="alert">
        <button class="alert-link">Update</button>
    </div>
    </br>
    <div class="alert alert-dark" role="alert">
        <button><a href="/trips/{{trip.id}}" class="alert-link">Go to Trip</a></button>
    </div>
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
</body>
</html>